.wrapper {
  margin: 0 auto;
  padding: 40px;
  max-width: 800px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  border-radius: 35px;
}

.table {
  /* margin: 0 0 40px 0; */
  min-width: 90%;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  display: table;
  border-radius: 5px;
}
@media screen and (max-width: 580px) {
  .table {
    display: table;
  }
}

.searchBar {
  width: 45%;
  align-self: center;
  background: #444447;
  padding: auto;
  margin: 20px;
  color: white;
  border-radius: 5px;
}
.tableRow {
  display: table-row;
  background: #f6f6f6;
}
.tableRow:nth-of-type(odd) {
  background: #e9e9e9;
}
.tableRow .cell:last-of-type {
  min-width: 240px;
}
.tableHead {
  /* font-weight: 900; */
  color: white;

  /* min 100%; */
  background: #5c5c64;
}
.tableHeader {
  /* font-weight: 900; */
  color: white;
  justify-self: center;
  align-self: center;
  /* min 100%; */
  /* background: #ea6153; */
}

@media screen and (max-width: 580px) {
  .tableRow {
    padding: 14px 0 7px;
    display: block;
  }
  .tableRow.header {
    padding: 0;
    height: 6px;
  }
  .tableRow.header .cell {
    display: none;
  }
  .tableRow .cell {
    margin-bottom: 10px;
  }
  .tableRow .cell:before {
    margin-bottom: 3px;
    content: attr(data-title);
    min-width: 98px;
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #969696;
    display: block;
  }
}

.cell {
  padding: 6px 12px;
  display: table-cell;
}
@media screen and (max-width: 580px) {
  .cell {
    padding: 2px 16px;
    display: block;
  }
  .tableHeader {
    display: none;
  }
  .cell {
    width: 100%;
  }
}
